{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}



<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class=" home">

    <!-- Preloader -->

    <!-- Container -->

    <!-- Cursor -->

    <!-- Water Effect -->

    <!-- Header -->
    
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Section Started -->
        <div class="section started personal" id="section-started">

            <!-- background -->
            <div class="video-bg">
                <div class="video-bg-mask"></div>
                <div class="video-bg-texture" id="grained_container"></div>
            </div>

            <!-- started content -->
            <div class="centrize full-width">
                <div class="vertical-center">
                    <div class="started-content">
                        <!-- <div class="logo" style="background-image: url(/static/web/img/Untitled\ design\ \(3\)\ \(1\).jpg);"></div> -->
                        <div class="logo" style="background-image: url(/static/web/img/man.jpg);"></div>
                        <h1 class="h-title">
                            Hello, I’m <strong>Alejandro Abeyta</strong>, UX/UI Designer and <br />Front-end
                            Developer Based in San Francisco.
                        </h1>
                        <div class="h-subtitle typing-subtitle">
                            <p>I'm a passionate <strong>Web Developer</strong> from India</p>
                            <p>I develop <strong>Web application</strong></p>
                            <p>I develop <strong>website</strong></p>
                            <p>I love <strong>Back End </strong>Development</p>
                        </div>
                        <span class="typed-subtitle"></span>
                    </div>
                </div>
            </div>
        </div>


        <!-- Section Contacts Form -->
        <div class="section contacts" id="section-contacts">
            <div class="content">

                <!-- title -->
                <div class="title">
                    <div class="title_inner">Contact Form</div>
                </div>


               <!-- form -->
                    <div class="contact_form content-box">
                        <form id="cform" action="" method="POST">
                         {% csrf_token %}
                            <div class="group-val">
                                {{form.name}}
                            </div>
                            <div class="group-val">
                                {{form.email}}
                            </div>
                            <div class="group-val ct-gr">
                                {{form.message}}
                            </div>
                            
                            <div class="group-bts">
                                <button type="submit" class="btn hover-animated">
                                    <span class="circle"></span>
                                    <span class="lnk">Send Message</span>
                                </button>
                            </div>
                        </form>
                        <div class="alert-success">
                            <p>Thanks, your message is sent successfully.</p>
                        </div>
                    </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>


    <!-- Footer -->

    <!-- Lines -->

    <!-- End continer -->

    <!-- bslthemes.com buttons html begin -->
    
    <!-- bslthemes.com buttons html end -->

    <!-- bslthemes.com buttons assets begin -->
    
    <!-- bslthemes.com buttons assets end -->
</body>

</html>
{% endblock %}
