{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="">

    <!-- Preloader -->

    <!-- Container -->

    <!-- Cursor -->




    <!-- Header -->

    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Section Started -->
        <div class="section started section-title" id="section-started">

            <!-- background -->
            <div class="video-bg" style="background-image: url(/static/web/img/resume_bg.jpg);">
                <div class="video-bg-mask"></div>
                <div class="video-bg-texture" id="grained_container"></div>
            </div>

            <!-- started content -->
            <div class="centrize full-width">
                <div class="vertical-center ripples-water-efffect">
                    <div class="started-content">
                        <h1 class="h-title">Portfolio</h1>
                        <div class="h-subtitles">
                            <div class="h-subtitle typing-bread">
                                <p class="breadcrumbs">
                                    <a href="../index.html">Home</a> / Portfolio
                                </p>
                            </div>
                            <span class="typed-bread"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- mosue button -->
            <a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

        </div>

        <!-- Works -->
        <div class="section works" id="section-portfolio">
            <div class="content">

                <!-- portfolio filter -->
                <div class="filter-menu content-box">
                    <div class="filters">
                        <div class="btn-group">
                            <label class="glitch-effect">
                            <input type="radio" name="fl_radio" value=".box-item" />All</label>
                        </div>
                        <div class="btn-group">
                            <label data-text="Video">
                            <input type="radio" name="fl_radio" value=".Websites" />Websites</label>
                        </div>
                        <div class="btn-group">
                            <label data-text="Video">
                            <input type="radio" name="fl_radio" value=".Web_apps" />Web apps</label>
                        </div>
                        <div class="btn-group">
                            <label data-text="Video">
                            <input type="radio" name="fl_radio" value=".E-commerce" />E-commerce</label>
                        </div>
                        <div class="btn-group">
                            <label data-text="Video">
                            <input type="radio" name="fl_radio" value=".Updates" />Updates</label>
                        </div>
                    </div>
                </div>

                <!-- portfolio items -->
                <div class="box-items portfolio-items">

                    {% for i in portfolio %}
                    <div class="box-item
    {% if i.is_updates %} Updates {% endif %}
    {% if i.is_web_apps %} Web_apps {% endif %}
    {% if i.is_ecommerce %} E-commerce {% endif %}
    {% if i.is_websites %} Websites {% endif %} ">
                        <div class="image">
                            <a href="#popup--works-cardboard-box" class="has-popup-media hover-animated">
                                <img src="{{ i.image }} " class="wp-post-image" alt="Cardboard Box" />
                                <span class="info circle">
                                    <span class="centrize full-width">
                                        <span class="vertical-center">
                                            <span class="icon fas fa-plus"></span>
                                            <span class="desc">
                                                <span class="category">{{ i.title }}</span>
                                                <span class="name">{{ i.subtitle }}</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div id="popup--works-cardboard-box" class="popup-box mfp-fade mfp-hide">
                            <div class="content">
                                <div class="image" style="background-image: url({{ i.image }});">
                                </div>
                                <div class="desc single-post-text">
                                    <div class="category">{{ i.title }}</div>
                                    <h4>{{ i.subtitle }}</h4>
                                    <div class="single-post-text">
                                        <p>{{ i.content_1 }}</p>
                                        <p>{{ i.content_2 }}</p>
                                        <p>{{ i.content_3 }}</p>
                                        <p>{{ i.content_4 }}</p>
                                        <ul>
                                            <li>{{ i.featur_1 }}</li>
                                            <li>{{ i.featur_2 }}</li>
                                            <li>{{ i.featur_3 }}</li>
                                        </ul>
                                        <p>{{ i.content_5 }}</p>
                                    </div>
                                    <p>
                                        <a href="{{ i.project_url }}" target="_blank" class="btn hover-animated">
                                            <span class="circle"></span>
                                            <span class="lnk">View Project</span>
                                        </a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <!-- <div class="box-item f-music">
                        <div class="image">
                            <a href="https://w.soundcloud.com/player/?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&amp;show_artwork=true"
                                class="has-popup-music hover-animated">
                                <img src="/static/web/img/works/work6.jpg" class="wp-post-image"
                                    alt="Marta Veludo Beautiful Poster" />
                                <span class="info circle">
                                    <span class="centrize full-width">
                                        <span class="vertical-center">
                                            <span class="icon fas fa-music"></span>
                                            <span class="desc">
                                                <span class="category">Music</span>
                                                <span class="name">Marta Veludo Beautiful Poster</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div> -->

                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>


    <!-- Footer -->

    <!-- Lines -->


    <!-- Plugins -->


    <!-- bslthemes.com buttons html begin -->

    <!-- bslthemes.com buttons html end -->

    <!-- bslthemes.com buttons assets begin -->

    <!-- bslthemes.com buttons assets end -->
</body>

</html>
{% endblock %}
